<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BREAD</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <!--tampilan judul-->
    <h1 class="container">BREAD (Browse,Read,Edit,Add,Delete)</h1>
    <h1 class="container">Filter</h1>

    <!--tampilan form id,string,integer,float,date,bolean-->
    <form>
        <div class="container">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <input type="checkbox" arial-label="Checkbox for following text input" /> ID
                </label>
                <div class="row col-sm-6">
                    <input class="from-control" type="=text" placeholder="ID" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <input type="checkbox" arial-label="Checkbox for following text input" /> String
                </label>
                <div class="row col-sm-6">
                    <input class="from-control" type="text" placeholder="String" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <input type="checkbox" arial-label="Checkbox for following text input" /> Integer
                </label>
                <div class="row col-sm-6">
                    <input class="from-control" type="number" placeholder="Integer" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <input type="checkbox" arial-label="Checkbox for following text input" /> Float
                </label>
                <div class="row col-sm-6">
                    <input class="from-control" type="text" placeholder="Float" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <input type="checkbox" arial-label="Checkbox for following text input" /> Date
                </label>
                <div class="row col-sm-3">
                    <input class="from-control" type="Date" placeholder="Start_Date" />
                    to

                    <input class="from-control" type="Date" placeholder="End_Date" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <input type="checkbox" arial-label="Checkbox for following text input" /> Bolean
                </label>
                <div class="row col-sm-6">
                    <select class="from-control" type="exampleFormControlSelect1" placeholder=" Bolean">
                        <option>True</option>
                        <option>False</option>
                    </select>
                </div>
            </div>
        </div>
        </div>
        <div class="container"> <button type="button" class="btn btn-primary">Search</button></div>
    </form>
    <!--tampilan table-->
    <br>
    <br>
    <table class="table container">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> ID</th>
                <th scope="col"> String</th>
                <th scope="col"> Integer</th>
                <th scope="col"> Float</th>
                <th scope="col"> Date</th>
                <th scope="col"> Bolean</th>
                <th scope="col"> Action</th>
            </tr>
        </thead>
        <tbody>
            <% json.forEach((item, index) => {%>
            <tr>
                <th scope="row"><%=index + 1%></th>
                <td><%= item.string%></td>
                <td><%= item.integer%></td>
                <td><%= item.float %></td>
                <td><%= item.date %></td>
                <td><%= item.boolean%></td>
                <td>
                    <a href="edit/<%= index %>"><button type="button" class="btn btn-primary">Edit</button></a>
                    <a href="delete/<%= index %>"><button type="button" class="btn btn-danger">Delete</button></a>
                </td>
            </tr>
            <%})%>
        </tbody>

    </table>
    <nav aria-label="Page navigation example">
        <ul class="container pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>

    <!--     

    <nav aria-label="Page navigation example">
        <ul class="container paginavigaton">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>

    </nav> -->
    <div class="container"> <a href="/add"><button type="button" class="btn btn-primary">ADD</button></a></div>

    <!-- <div class="cotainer">
        <a button="btn btn-primay" href="/add" role="button">add</a>
    </div> -->
    <!-- <div class="cotainer">
        <a href="/add"><button type="button" class="btn btn-primary">ADD</button></a>
    </div> -->



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>





</body>

</html>